/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 10px 5px 10px 5px
    text-align: center;
    
    
    
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
  
  }



input {
    height: 200px;
    width: 500px;
    
}

button:focus {
    color: white;
    
}

img {
    width: 100px;
    
}

div>p:first-child {
    display: inline;
}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
    margin-left: 500px;
    BORDER: NONE;
    
    
   
}

.botao-amarelo:hover {
    background-color: #c44f00;
    
}

.container {
    height: 300px;
    text-align: center;
    
        
}

.icone {
    height: 15px;
   BORDER: NONE;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    BORDER: NONE;
    

}

#container-de-descricao>ol {
    padding: 100px;
    text-align:center;
    
    
}
  
    



#container-para-comprar {
    background-color: #e7eb90;
    
    
}

#container-para-comprar {
    color: #c44f00;
    font-size: 60px;
    padding: 30px ;
    text-align:center;
    

    
    
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
    
}

table {
    width: 10%;    
    height: 350px;
    font-size: 20px;
    text-align:auto;
    display: inline;
    margin-left: 300px;
    
    
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    BORDER: NONE;
    
    
    text-align:center;
    display: inline;
    
 
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
    
    text-align: center;
    display: inline;
    margin-left: 300px;
    
   
    
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;

   
        
}

#back-button:hover {
    background-color: #635a3d
}